a {
  color: black;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.section {
  border: 1px solid black;
  width: 420px;
  background-color: #f3f3f3;
  font-family: "Noto Serif KR", serif;
}

.mainTitle {
  display: flex;
}

.mainTitleDiv {
  display: flex;
  padding: 4em 2em;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.line {
  margin: auto;
  width: 1px;
  height: 50px;
  background-color: #424242;
  transform: rotate(45deg);
}

.info {
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  align-items: center;
}

.info div {
  margin: 1em 0;
}

.menu {
  display: flex;
  position: relative;
  background-color: beige;
  width: 80%;
  cursor: pointer;
}

.menuNotClick {
  display: flex;
  display: none;
  align-items: center;
  width: 80%;
  padding: 0 1em;
}

.menuClick {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0 1em;
}

.img img {
  width: 100%;
}

.bank {
  text-align: center;
  width: 100%;
}

.bankBox {
  width: 100%;
}

.bankBtn button {
  width: 100%;
  padding: 1em;
  background-color: inherit;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 200ms;
  font-family: "Noto Serif KR", serif;
}

.bankBtn button:hover {
  background-color: lightgrey;
}

.icon {
  position: absolute;
  padding: 0em 1.2em;
  right: 1em;
  transform: rotate(0deg);
  transition: all 400ms ease-in;
}

.iconClick {
  position: absolute;
  padding: 0em 1.2em;
  right: 1em;
  transform: rotate(180deg);
  transition: all 400ms ease-in;
}

.commentBtn {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.shareBtn {
  width: 10em;
  text-align: center;
  cursor: pointer;
}

.shareBtn img:hover {
  transform: scale(1.1);
}

.shareBtn img {
  width: 100%;
  transition: all 200ms ease-in;
  border-radius: 0.5em;
}

.board {
  text-align: center;
}

.commentName {
  width: 30%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 0.5em;
}

.commentValue {
  width: 50%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 0.5em;
}

.commentList {
  list-style: none;
}

@media screen and (max-width: 780px) {
  .section {
    width: 100%;
  }
}
