.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loding {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
  font-size: 5em;
}

.loding div {
  animation: spin 1s linear infinite;
}

.editor {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  max-width: 30em;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.mainTitle {
  display: flex;
  text-align: left;
  width: 6em;
  margin: 0.5em 2em;
  flex: 1;
}

.subTitle {
  flex: 3;
}

.list {
  margin: 0.7em 0em;
}

.input {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 0.5em;
}

.textInput {
  width: 10em;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 0.5em;
}

.textInput:focus {
  outline: none;
  border-bottom: 1px solid lightskyblue;
}

.btn {
  text-align: center;
}

.creatBtn {
  width: 40%;
  height: 2em;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
