.section {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutbtn {
  position: absolute;
  top: 2em;
  right: 3em;
  border: 0;
  padding: 0.5em;
  background-color: paleturquoise;
  cursor: pointer;
}
