.section {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userContainer {
  position: absolute;
  display: flex;
  font-size: 0.8em;
  top: 1em;
  right: 1em;
}

.logoutbtn {
  border-left: 1px solid gray;
  padding: 0 0.5em;
  background-color: inherit;
  cursor: pointer;
}

.userId {
  padding: 0 0.5em;
}

@media screen and (max-width: 780px) {
  .userContainer {
    position: static;
  }
}
